.personal-navigation {
  position: relative;
  padding: 0 30px;
  user-select: none;
  white-space: nowrap;
  overflow: auto;
  display: flex;
  &:after {
    content: "";
    position: absolute;
    background: var(--white-dark);
    border-radius: 10px;
    height: 10px;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 0;
    @include _1024 {
      left: 20px;
      right: 20px;
    }
    @include _576 {
      left: 16px;
      right: 16px;
    }
  }
  & button {
    position: relative;
    display: block;
    padding: 20px 15px;
    color: var(--gray);
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 10px;
      background: var(--white-dark);
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: var(--transition);
    }
    &:first-child {
      padding-left: 0;
      &:after {
        border-radius: 10px 0 0 10px;
      }
    }
    &:last-child {
      padding-right: 16px;
      &:after {
        border-radius: 0 10px 10px 0;
        right: 16px;
      }
    }

    &.active {
      color: var(--dark);
      &:before {
        content: "";
        position: absolute;
        background: var(--dark);
        border-radius: 6px;
        height: 6px;
        bottom: 2px;
        left: 2px;
        right: 0;
        z-index: 2;
        margin: 0 15px;
        @include _768 {
          margin: 0 8px;
        }
      }
      &:first-child {
        &:before {
          margin-left: 0;
        }
      }
      &:last-child {
        padding-right: 16px;
        &:before {
          margin-right: 0;
          right: 18px;
        }
      }
    }
    @include _1200 {
      font-size: 22px;
    }
    @include _768 {
      font-size: 20px;
      padding: 20px 8px;
    }
  }
  @include _1024 {
    padding: 0 20px;
  }
  @include _576 {
    padding: 0 8px 0 16px;
  }
}
