<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Error</title>
  </head>
  <body>
    <main class="error" id="error">
      <div class="container">
        <div class="error__box">
          <h1 class="error__title">УУУУУПС</h1>
          <p class="error__subtitle">
            Версия протокола HTTP не поддерживается на сервере с сайтом.
          </p>
          <div class="error__box-img">
            <img
              class="error__img"
              src="../source/image/error/505.svg"
              alt="505"
            />
          </div>
          <a href="/" class="button_dark">Вернуться на главную</a>
        </div>
      </div>
    </main>
  </body>
</html>
