<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <link rel="shortcut icon" href="favicon/icon.svg" type="image/png" />
  </head>

  <body>
    <div class="subscribe-window">
      <div class="window p30">
        <div class="window__close">
          <img src="../source/image/icon/close.svg" alt="close" />
        </div>
        <h3 class="window__name">Подписка на рассылку</h3>
        <p class="window__text">
          Введите ваш email и не пропукайте подборку лучших статтей на Auff
        </p>
        <img src="../source/image/window/mail.svg" alt="" />
        <form class="subscribe-window__form">
          <input placeholder="Введите email" class="" type="text" />
          <button class="">
            <span class="desktop">Подписаться</span>
            <img
              class="mobile"
              src="../source/image/icon/mail-icon.svg"
              alt=""
            />
          </button>
        </form>
      </div>
    </div>
    <div class="burger__menu">
      <div class="burger__box">
        <div class="burger__header">
          <figure class="logo">
            <img
              class="logo-desktop"
              loading="lazy"
              src="../source/image/logo/logo.svg"
              alt="logo"
            />
            <img
              class="logo-mobile"
              loading="lazy"
              src="../source/image/logo/logo-mobile.svg"
              alt="logo"
            />
          </figure>
          <button class="burger__btn burger_hidden">
            <svg class="">
              <use xlink:href="../source/image/icon/close.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="burger__main scroll p30">
          <p>Основное:</p>
          <div class="links">
            <a href="ads.html">Избранное</a>
            <a href="comparisons.html">Сравнения <span>(5)</span> </a>
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Автосалоны</a>
            <a href="#">Отзывы</a>
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Автосалоны</a>
          </div>
          <p>Мой профиль:</p>
          <div class="links">
            <a href="entrance.html">Вход</a>
            <a href="register.html">Регистрация</a>
          </div>
          <div class="buttons">
            <button class="button_dark">Найти авто</button>
            <button class="button_dark_border">Продать авто</button>
          </div>
          <div class="social-networks">
            <p>Мы в соц сетях:</p>
            <div class="items">
              <a href="#">
                <svg class="social-networks__icon">
                  <use
                    xlink:href="../source/image/social-networks/facebook.svg#facebook"
                  ></use>
                </svg>
              </a>
              <a href="#">
                <svg class="social-networks__icon">
                  <use
                    xlink:href="../source/image/social-networks/telegram.svg#telegram"
                  ></use>
                </svg>
              </a>
              <a href="#">
                <svg class="social-networks__icon">
                  <use
                    xlink:href="../source/image/social-networks/viber.svg#viber"
                  ></use>
                </svg>
              </a>
              <a href="#">
                <svg class="social-networks__icon">
                  <use
                    xlink:href="../source/image/social-networks/whatsapp.svg#whatsapp"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blur">
      <!--Header-->
      <header class="header" id="header">
        <div class="general_padding">
          <div class="container">
            <div class="header__nav">
              <button class="burger__btn burger_show">
                <svg class="burger__icon">
                  <use
                    xlink:href="../source/image/icon/burger.svg#burger"
                  ></use>
                </svg>
              </button>
              <a href="/" class="logo__header">
                <img
                  class="logo-desktop"
                  loading="lazy"
                  src="../source/image/logo/logo.svg"
                  alt="logo"
                />
                <img
                  class="logo-mobile"
                  loading="lazy"
                  src="../source/image/logo/logo-mobile.svg"
                  alt="logo"
                />
              </a>
              <div
                class="item item_languages"
                data-tippy-content="Изменить язык"
              >
                <a href="#" class="active">RU </a>
                <span class="line"></span>
                <a href="#">UA</a>
              </div>
              <div class="item item_user" data-tippy-content="Мой профиль">
                <span>
                  <img
                    loading="lazy"
                    src="../source/image/icon/user.svg"
                    alt="user"
                  />
                </span>
                <div class="user__menu">
                  <a href="./entrance.html">Вход</a>
                  <a href="./register.html">Регистрация</a>
                </div>
              </div>
              <span class="item item_search" data-tippy-content="Поиск">
                <img
                  loading="lazy"
                  src="../source/image/icon/search.svg"
                  alt="search"
                />
              </span>
              <a
                href="chosen.html"
                class="item item_favorites"
                data-tippy-content="Избранное"
              >
                <img
                  loading="lazy"
                  src="../source/image/icon/star.svg"
                  alt=""
                />
              </a>
              <a
                href="comparisons.html"
                class="item item_comparisons"
                data-tippy-content="Сравнения"
              >
                <img
                  loading="lazy"
                  src="../source/image/icon/comparison.svg"
                  alt="comparison"
                />
              </a>
              <button class="place">Разместить объявление</button>
              <button class="plus">
                <img src="../source/image/icon/plus.svg" alt="+" />
              </button>
              <div class="header__search">
                <img
                  loading="lazy"
                  src="../source/image/icon/search.svg"
                  alt="search"
                />
                <input
                  class=""
                  type="search"
                  placeholder="Поиск среди 100 000 авто"
                />
                <button class="close__search">
                  <img src="../source/image/icon/close.svg" alt="close" />
                </button>
              </div>
            </div>
          </div>
          <div class="header__line"></div>
          <div class="container p30">
            <div class="news__header">
              <div class="bread-crumbs">
                <a href="/">Главная</a> <a href="">Блог</a>
              </div>
              <h1 class="title">Наш блог для автолюбителей</h1>
              <div class="news__category_items">
                <div class="category__border">
                  <a href="#">Категория статьи</a>
                </div>
                <div class="category__border active--category">
                  <a href="#">Категория статьи</a>
                </div>
                <div class="category__border">
                  <a href="#">Категория статьи</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!--Header End-->
      <!--Main-->
      <main class="main general_padding" id="main">
        <div class="container main__box p30">
          <div class="news__items">
            <a href="#" class="news__item">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_1.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
            <a href="#" class="news__item">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_1.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
            <a href="#" class="news__full">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_3.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
            <a href="#" class="news__full">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_1.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
            <a href="#" class="news__item">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_1.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
            <a href="#" class="news__item">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_3.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
            <a href="#" class="news__item">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_1.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
            <a href="#" class="news__item">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_1.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
            <a href="#" class="news__full">
              <figure class="news__image">
                <img
                  loading="lazy"
                  src="../source/image/temp/car_3.jpg"
                  alt="Car"
                />
              </figure>
              <div class="news__box">
                <p class="news__category">Категория статьи</p>
                <p class="news__title">
                  Название статьи в 1, или даже 2 строки, вау
                </p>
                <p class="news__description">
                  Небольшое описание статьи, которое может занимать примерно 4-5
                  строк текста Небольшое описание статьи, которое может
                  занимать... Небольшое описание статьи, которое может занимать
                  примерно 4-5
                </p>
              </div>
            </a>
          </div>
          <div class="pagination__block">
            <button class="button_dark_border">Показать ещё 10</button>
            <div class="pagination">
              <button class="button__default">
                <svg class="right">
                  <use
                    xlink:href="../source/image/icon/arrow-dropdown.svg#arrow-dropdown"
                  ></use>
                </svg>
              </button>
              <ul class="pagination__lists">
                <li class="active">
                  <a href="">1</a>
                </li>
                <li>
                  <a href="">2</a>
                </li>
                <li>
                  <a href="">3</a>
                </li>
              </ul>
              <button class="button__default">
                <svg class="left">
                  <use
                    xlink:href="../source/image/icon/arrow-dropdown.svg#arrow-dropdown"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </main>
      <!--Main End-->
      <!--Footer-->
      <footer id="footer" class="footer general_padding">
        <div class="container p30">
          <div class="footer__block">
            <figure class="footer__logo">
              <img
                class="logo-desktop"
                loading="lazy"
                src="../source/image/logo/logo-yellow.svg"
                alt="logo"
              />
              <img
                class="logo-mobile"
                loading="lazy"
                src="../source/image/logo/logo-yellow-mobile.svg"
                alt="logo"
              />
            </figure>
            <form action="" class="form-subscribe">
              <label for="footer_email">Быть в курсе последних новостей</label>
              <div class="form__box">
                <input
                  id="footer_email"
                  class="input"
                  type="text"
                  placeholder="Быть в курсе последних новостей"
                />
                <button type="button" class="button_yellow button-subscribe">
                  Подписаться
                </button>
              </div>
              <div class="subscription-issued">
                <p>Поздравляем, подписка на новости успешно оформленна=)</p>
                <div class="progress">
                  <div class="progress-value"></div>
                </div>
              </div>
            </form>
            <a href="#header" class="button_yellow up">
              <svg class="">
                <use
                  xlink:href="../source/image/icon/long-arrow.svg#long-arrow"
                ></use>
              </svg>
            </a>
          </div>

          <div class="footer__title">
            <h2 class="title">Каталог автомобилей</h2>
            <button class="button__plus car-catalog">
              <span></span>
              <span></span>
            </button>
          </div>
          <nav class="footer__nav nav_car-catalog">
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Каталог мото <span>555 2</span> </a>
            <a href="#">Каталог водного <span>124 222</span> </a>
            <a href="#">Каталог водного <span>1 222</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Каталог мото <span>555 2</span> </a>
            <a href="#">Каталог водного <span>124 222</span> </a>
            <a href="#">Каталог водного <span>1 222</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Каталог мото <span>555 2</span> </a>
            <a href="#">Каталог водного <span>124 222</span> </a>
            <a href="#">Каталог водного <span>1 222</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Каталог мото <span>555 2</span> </a>
            <a href="#">Каталог водного <span>124 222</span> </a>
            <a href="#">Каталог водного <span>1 222</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
          </nav>

          <div class="footer__title">
            <h2 class="title">Другое</h2>
            <button class="button__plus other">
              <span></span>
              <span></span>
            </button>
          </div>
          <nav class="footer__nav nav_other">
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Отзывы</a>
            <a href="#">Автосалоны</a>
            <a href="#">Отзывы</a>
            <a href="#">Автосалоны</a>
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Отзывы</a>
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Автосалоны</a>
            <a href="#">Отзывы</a>
            <a href="#">Автосалоны</a>
            <a href="#">Калькуялтор растаможки</a>
          </nav>
        </div>
        <div class="footer__copyright">
          <div class="container p30">
            <div class="footer__box">
              <p>© Auff, Все права защищены</p>
              <div class="social-networks">
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/instagram.svg#instagram"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/facebook.svg#facebook"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/telegram.svg#telegram"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/viber.svg#viber"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/whatsapp.svg#whatsapp"
                    ></use>
                  </svg>
                </a>
              </div>
              <nav>
                <a href="#">Пользовательское соглашение</a>
                <a href="#">Политика конфендициальности</a>
              </nav>
            </div>
          </div>
        </div>
      </footer>
      <!--Footer End-->
    </div>
  </body>
</html>
