<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Регистрация</title>
    <link rel="shortcut icon" href="favicon/icon.svg" type="image/png" />
  </head>
  <body>
    <main class="authorization" id="register">
      <div class="authorization__box">
        <div class="authorization__data p30">
          <a href="/" class="logo">
            <img
              class="logo-desktop"
              loading="lazy"
              src="../source/image/logo/logo.svg"
              alt="AUFF"
            />
            <img
              class="logo-mobile"
              loading="lazy"
              src="../source/image/logo/logo-mobile.svg"
              alt="AUFF"
            />
          </a>
          <div class="step__back">
            <button class="step__back-button">
              <img src="../source/image/icon/arrow.svg" alt="" />
            </button>
            <h1 class="title">Регистрация</h1>
          </div>
          <p class="authorization__subtitle">Регистрация с помощью:</p>
          <div class="button__box">
            <button class="button-facebook">
              <span class="icon__button">
                <svg>
                  <use
                    xlink:href="../source/image/social-networks/facebook-bg.svg#facebook-bg"
                  ></use>
                </svg>
              </span>
              Facebook
            </button>
            <button class="button-google">
              <span class="icon__button">
                <svg>
                  <use
                    xlink:href="../source/image/social-networks/google.svg#google"
                  ></use>
                </svg>
              </span>
              Google
            </button>
          </div>
          <p class="authorization__subtitle">Или заполните графы ниже:</p>
          <form action="" class="authorization__form">
            <div class="input__box">
              <label for="register__name" class="label">
                <span class="label-name">Имя</span>
                <input
                  id="register__name"
                  class="input"
                  placeholder="*Имя"
                  type="text"
                  required
                />
              </label>
              <label for="register__password" class="label password">
                <span class="label-name">Пароль</span>
                <input
                  id="register__password"
                  class="input"
                  placeholder="*Пароль"
                  type="password"
                  required
                />
                <span class="trigger">
                  <svg class="icon__eye">
                    <use xlink:href="../source/image/icon/eye.svg#eye"></use>
                  </svg>
                </span>
              </label>
              <label for="register__email" class="label">
                <span class="label-name">Email</span>
                <input
                  id="register__email"
                  class="input"
                  placeholder="*Email"
                  type="email"
                  required
                />
              </label>
              <label for="register__confirm-password" class="label password">
                <span class="label-name">Подтвердите пароль</span>
                <input
                  id="register__confirm-password"
                  class="input"
                  placeholder="*Подтвердите пароль"
                  type="password"
                  required
                />
                <span class="trigger">
                  <svg class="icon__eye">
                    <use xlink:href="../source/image/icon/eye.svg#eye"></use>
                  </svg>
                </span>
              </label>
              <label for="register__phone" class="label">
                <span class="label-name">Телефон</span>
                <input
                  id="register__phone"
                  class="input"
                  placeholder="Телефон"
                  type="tel"
                />
              </label>
            </div>
            <div class="checkbox__box">
              <input type="checkbox" id="agreements" />
              <label for="agreements">
                Нажимая на кнопку я подтверждаю что ознакомился с
                <a href="/">Политикой Конфендициальности</a>
              </label>
            </div>
            <div class="button__box buttons__authorization">
              <a
                href="entrance.html"
                class="button_dark_border btn__disabled disabled"
                disabled
                >У меня есть аккаунт</a
              >
              <button class="button_dark btn__disabled disabled" disabled>
                Регистрация
              </button>
            </div>
          </form>
        </div>
        <div class="authorization__info">
          <div class="p30 comments__box">
            <div class="comments">
              <div class="comment">
                Машна очень надежная, до места <strong>Gоломки</strong> доедет
                сама

                <span class="arrow-bottom-left">
                  <svg
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      class="path__bg"
                      d="M30.6549 45.2638L5.3487 19.9576L39.9176 10.6949L30.6549 45.2638Z"
                    />
                    <path
                      class="path__border"
                      d="M5.34956 19.9584L39.9185 10.6957L30.6099 45.5004"
                      stroke-width="2"
                    />
                  </svg>
                </span>
              </div>
              <div class="comment">
                Делал для себя, <strong>денег не жалел</strong>
                <span class="arrow-top-right">
                  <svg
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      class="path__bg"
                      d="M30.6549 45.2638L5.3487 19.9576L39.9176 10.6949L30.6549 45.2638Z"
                    />
                    <path
                      class="path__border"
                      d="M5.34956 19.9584L39.9185 10.6957L30.6099 45.5004"
                      stroke-width="2"
                    />
                  </svg>
                </span>
              </div>
            </div>
            <div class="comment comment-full">
              Мне <strong>честный перекуп попался</strong>. Машина в дтп не
              была, двигатель масло не ест
              <span class="arrow-bottom-center">
                <svg
                  viewBox="0 0 51 51"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="path__bg"
                    d="M30.6549 45.2638L5.3487 19.9576L39.9176 10.6949L30.6549 45.2638Z"
                  />
                  <path
                    class="path__border"
                    d="M5.34956 19.9584L39.9185 10.6957L30.6099 45.5004"
                    stroke-width="2"
                  />
                </svg>
              </span>
            </div>
          </div>
          <div class="slogan p30">
            Слоган компании в 1 или 2 строки Слоган компании в 1 или 2 строки
          </div>
          <div class="p30 comments__box comments__box-second">
            <div class="comment comment-full">
              Там честный перекуп был,<strong>тех.паспорт утерян</strong> был
              поэтому дубликат, ездила бабушка.
              <span class="arrow-top-center">
                <svg
                  viewBox="0 0 51 51"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="path__bg"
                    d="M30.6549 45.2638L5.3487 19.9576L39.9176 10.6949L30.6549 45.2638Z"
                  />
                  <path
                    class="path__border"
                    d="M5.34956 19.9584L39.9185 10.6957L30.6099 45.5004"
                    stroke-width="2"
                  />
                </svg>
              </span>
            </div>
            <div class="comments">
              <div class="comment">
                Машина <strong>Шурина</strong>, не перекуп
                <span class="arrow-bottom-left">
                  <svg
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      class="path__bg"
                      d="M30.6549 45.2638L5.3487 19.9576L39.9176 10.6949L30.6549 45.2638Z"
                    />
                    <path
                      class="path__border"
                      d="M5.34956 19.9584L39.9185 10.6957L30.6099 45.5004"
                      stroke-width="2"
                    />
                  </svg>
                </span>
              </div>
              <div class="comment">
                Продаю в связи с покупкой <strong>новой машины</strong>
                <span class="arrow-top-right">
                  <svg
                    viewBox="0 0 51 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      class="path__bg"
                      d="M30.6549 45.2638L5.3487 19.9576L39.9176 10.6949L30.6549 45.2638Z"
                    />
                    <path
                      class="path__border"
                      d="M5.34956 19.9584L39.9185 10.6957L30.6099 45.5004"
                      stroke-width="2"
                    />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
