<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auff</title>
    <link rel="shortcut icon" href="favicon/icon.svg" type="image/png" />
  </head>

  <body>
    <div class="burger__menu">
      <div class="burger__box">
        <div class="burger__header">
          <figure class="logo">
            <img
              class="logo-desktop"
              loading="lazy"
              src="../source/image/logo/logo.svg"
              alt="logo"
            />
            <img
              class="logo-mobile"
              loading="lazy"
              src="../source/image/logo/logo-mobile.svg"
              alt="logo"
            />
          </figure>
          <button class="burger__btn burger_hidden">
            <svg class="">
              <use xlink:href="../source/image/icon/close.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="burger__main scroll p30">
          <p>Основное:</p>
          <div class="links">
            <a href="ads.html">Избранное</a>
            <a href="comparisons.html">Сравнения <span>(5)</span> </a>
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Автосалоны</a>
            <a href="#">Отзывы</a>
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Автосалоны</a>
          </div>
          <p>Мой профиль:</p>
          <div class="links">
            <a href="entrance.html">Вход</a>
            <a href="register.html">Регистрация</a>
          </div>
          <div class="buttons">
            <button class="button_dark">Найти авто</button>
            <button class="button_dark_border">Продать авто</button>
          </div>
          <div class="social-networks">
            <p>Мы в соц сетях:</p>
            <div class="items">
              <a href="#">
                <svg class="social-networks__icon">
                  <use
                    xlink:href="../source/image/social-networks/facebook.svg#facebook"
                  ></use>
                </svg>
              </a>
              <a href="#">
                <svg class="social-networks__icon">
                  <use
                    xlink:href="../source/image/social-networks/telegram.svg#telegram"
                  ></use>
                </svg>
              </a>
              <a href="#">
                <svg class="social-networks__icon">
                  <use
                    xlink:href="../source/image/social-networks/viber.svg#viber"
                  ></use>
                </svg>
              </a>
              <a href="#">
                <svg class="social-networks__icon">
                  <use
                    xlink:href="../source/image/social-networks/whatsapp.svg#whatsapp"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blur">
      <!--Header-->
      <header class="header" id="header">
        <div class="general_padding">
          <div class="container">
            <div class="header__nav">
              <button class="burger__btn burger_show">
                <svg class="burger__icon">
                  <use
                    xlink:href="../source/image/icon/burger.svg#burger"
                  ></use>
                </svg>
              </button>
              <a href="/" class="logo__header">
                <img
                  class="logo-desktop"
                  loading="lazy"
                  src="../source/image/logo/logo.svg"
                  alt="logo"
                />
                <img
                  class="logo-mobile"
                  loading="lazy"
                  src="../source/image/logo/logo-mobile.svg"
                  alt="logo"
                />
              </a>
              <div
                class="item item_languages"
                data-tippy-content="Изменить язык"
              >
                <a href="#" class="active">RU </a>
                <span class="line"></span>
                <a href="#">UA</a>
              </div>
              <div class="item item_user" data-tippy-content="Мой профиль">
                <span class="authorized">
                  <img
                    loading="lazy"
                    src="./source/image/temp/help.png"
                    alt=""
                  />
                </span>
                <div class="user__menu">
                  <a href="/notification.html">Мой профиль</a>
                  <a href="/">Выход</a>
                </div>
              </div>
              <span class="item item_search" data-tippy-content="Поиск">
                <img
                  loading="lazy"
                  src="../source/image/icon/search.svg"
                  alt="search"
                />
              </span>
              <a
                href="chosen.html"
                class="item item_favorites"
                data-tippy-content="Избранное"
              >
                <img
                  loading="lazy"
                  src="../source/image/icon/star.svg"
                  alt=""
                />
              </a>
              <a
                href="comparisons.html"
                class="item item_comparisons"
                data-tippy-content="Сравнения"
              >
                <img
                  loading="lazy"
                  src="../source/image/icon/comparison.svg"
                  alt="comparison"
                />
              </a>
              <button class="place">Разместить объявление</button>
              <button class="plus">
                <img src="../source/image/icon/plus.svg" alt="+" />
              </button>
              <div class="header__search">
                <img
                  loading="lazy"
                  src="../source/image/icon/search.svg"
                  alt="search"
                />
                <input
                  class=""
                  type="search"
                  placeholder="Поиск среди 100 000 авто"
                />
                <button class="close__search">
                  <img src="../source/image/icon/close.svg" alt="close" />
                </button>
              </div>
            </div>
          </div>
          <div class="header__line"></div>
          <div class="container p30">
            <div class="user-wrapper">
              <div class="user">
                <form
                  class="personal-info-form avatar-upload"
                  data-user-photo="default"
                >
                  <div class="avatar-edit">
                    <input
                      type="file"
                      id="imageUpload"
                      accept=".png, .jpg, .jpeg"
                    />
                    <label for="imageUpload">
                      <img
                        class="image__edit"
                        src="../source/image/icon/pencil.svg"
                        alt="stroke"
                      />
                      <img
                        class="image__default"
                        src="../source/image/icon/man.svg"
                        alt="stroke"
                      />
                    </label>
                  </div>
                  <div class="avatar-preview">
                    <img
                      src="./source/image/temp/car_1.jpg"
                      id="imagePreview"
                      alt=""
                    />
                  </div>
                </form>
                <div class="user-info">
                  <p class="user__name">Анатолий Демьянчук</p>
                  <p class="user__id">ID: 9138157</p>
                </div>
              </div>
              <div class="helpers">
                <div class="helpers__image">
                  <img
                    loading="lazy"
                    src="../source/image/temp/help.png"
                    alt="help"
                  />
                </div>
                <div class="helpers__info">
                  <p class="helpers__text">Привет, чем я могу тебе помочь?</p>
                  <a href="#" class="helpers__link">Задать вопрос?</a>
                </div>
              </div>
              <div class="money">
                <div class="money__image">
                  <img
                    loading="lazy"
                    src="../source/image/icon/wallet-bg.svg"
                    alt="balance"
                  />
                </div>
                <div class="money__info">
                  <p class="money__balance">120грн</p>
                  <a href="#" class="money__link">Пополнить</a>
                </div>
              </div>
            </div>
            <div class="back">
              <button class="button-back show__menu">
                <svg>
                  <use xlink:href="../source/image/icon/arrow.svg#arrow"></use>
                </svg>
              </button>
              <p>Кошелек</p>
            </div>
          </div>
        </div>
      </header>
      <!--Header End-->
      <!--Main-->
      <main class="main general_padding" id="main">
        <div class="container main__box">
          <div class="personal-area">
            <div class="personal__menu">
              <div class="menu-scroll">
                <nav class="menu__items scroll">
                  <div class="personal__burger burger__animate">
                    <button
                      onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))"
                      aria-label="Main Menu"
                    >
                      <svg viewBox="0 0 100 100">
                        <path
                          class="line line1"
                          d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
                        />
                        <path class="line line2" d="M 20,50 H 80" />
                        <path
                          class="line line3"
                          d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
                        />
                      </svg>
                    </button>
                    <p class="burger__text">Свернуть меню</p>
                  </div>
                  <p class="personal__description">Основное</p>
                  <a href="ads.html" class="">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/clipboard.svg"
                      alt="svg"
                    />
                    <p class="link__name">Мои объявления</p>
                  </a>
                  <a href="wide-search.html" class="">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/search.svg"
                      alt="svg"
                    />
                    <p class="link__name">Поиск</p>
                  </a>
                  <a href="chosen.html" class="">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/star.svg"
                      alt="svg"
                    />
                    <p class="link__name">Избранное</p>
                  </a>
                  <a href="comparisons.html" class="">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/comparison.svg"
                      alt="svg"
                    />
                    <p class="link__name">Сравнения</p>
                  </a>
                  <a href="wallet.html" class="">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/wallet.svg"
                      alt="svg"
                    />
                    <p class="link__name">Кошелек</p>
                  </a>
                  <a href="messages.html" class="">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/mail.svg"
                      alt="svg"
                    />
                    <p class="link__name">
                      Чат <span class="notification">+12</span>
                    </p>
                  </a>
                  <p class="personal__description">Дополнительное</p>
                  <a href="notification.html" class="">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/notification-bell.svg"
                      alt="svg"
                    />
                    <p class="link__name">
                      Уведомления <span class="notification">+4</span>
                    </p>
                  </a>
                  <a href="settings.html" class="active">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/settings.svg"
                      alt="svg"
                    />
                    <p class="link__name">Настройки</p>
                  </a>
                  <a href="questions.html" class="">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/support.svg"
                      alt="svg"
                    />
                    <p class="link__name">Помощь</p>
                  </a>
                  <a href="/" class="btn__exit">
                    <img
                      loading="lazy"
                      class="personal__icon"
                      src="../source/image/icon/log-out.svg"
                      alt="svg"
                    />
                    <p>Выход</p>
                  </a>
                  <div class="p30">
                    <div class="banner">
                      <img
                        src="../source/image/temp/car-1-banner.svg"
                        alt="svg"
                      />
                      Место под баннер
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div class="settings settings-content p30">
              <div class="settings__tabs">
                <div class="settings__tab">
                  <h3 class="settings__title">Контактные данные</h3>
                  <button class="tab__disclosure">
                    <span></span><span></span>
                  </button>
                </div>

                <div class="settings__content tab__content">
                  <div class="settings__contacts">
                    <form action="#" class="settings__contact">
                      <div class="block">
                        <label for="first-name" class="label">
                          <span class="label-name">Введите имя</span>
                          <input
                            id="first-name"
                            class="input"
                            placeholder="Введите имя"
                            type="text"
                          />
                        </label>
                        <label for="last-name" class="label">
                          <span class="label-name">Введите фамилию</span>
                          <input
                            id="last-name"
                            class="input"
                            placeholder="Введите фамилию"
                            type="text"
                          />
                        </label>
                        <label for="middle-name" class="label">
                          <span class="label-name">Введите отчество</span>
                          <input
                            id="middle-name"
                            class="input"
                            placeholder="Введите отчество"
                            type="text"
                          />
                        </label>
                        <label for="phone" class="label entering-code">
                          <span class="label-name">Введите телефон</span>
                          <input
                            id="phone"
                            class="input"
                            type="tel"
                            required
                            placeholder="+380"
                          />
                          <input
                            id="phone-code"
                            class="input input__show"
                            type="tel"
                            required
                            placeholder="0000"
                          />
                        </label>
                        <label for="email" class="label">
                          <span class="label-name">E-mail</span>
                          <input
                            id="email"
                            class="input"
                            type="email"
                            required
                            placeholder="E-mail"
                          />
                        </label>
                      </div>
                      <!-- /.item -->
                      <div class="block">
                        <label>
                          <select>
                            <option value="1">Город</option>
                            <option value="2">Город</option>
                          </select>
                        </label>
                        <label>
                          <select>
                            <option value="1">Область</option>
                          </select>
                        </label>
                        <label for="telegram" class="label">
                          <span class="label-name">Telegram</span>
                          <input
                            id="telegram"
                            class="input"
                            placeholder="Telegram"
                            type="text"
                          />
                        </label>
                        <label for="viber" class="label">
                          <span class="label-name">Viber</span>
                          <input
                            id="viber"
                            class="input"
                            placeholder="Viber"
                            type="text"
                          />
                        </label>
                        <label for="whatsapp" class="label">
                          <span class="label-name">Whatsapp</span>
                          <input
                            id="whatsapp"
                            class="input"
                            placeholder="Whatsapp"
                            type="text"
                          />
                        </label>
                      </div>
                      <!-- /.item -->
                    </form>
                  </div>
                  <div class="buttons">
                    <button class="facebook">
                      <span>
                        <img
                          src="../source/image/entrance/facebook.svg"
                          alt="f"
                        />
                      </span>
                      facebook
                    </button>
                    <button class="google">
                      <span>
                        <img
                          src="../source/image/entrance/google.svg"
                          alt="G"
                        />
                      </span>
                      Google
                    </button>
                  </div>
                </div>
              </div>

              <div class="settings__tabs">
                <div class="settings__tab">
                  <h3 class="settings__title">Смена пароля</h3>
                  <button class="tab__disclosure">
                    <span></span><span></span>
                  </button>
                </div>
                <div class="settings__content tab__content">
                  <form action="#" class="settings__password">
                    <label for="password" class="label">
                      <span class="label-name">Введите старый пароль</span>
                      <input
                        id="password"
                        class="input"
                        placeholder="Введите старый пароль"
                        type="password"
                      />
                    </label>
                    <label for="new-password" class="label">
                      <span class="label-name">Введите новый пароль</span>
                      <input
                        id="new-password"
                        class="input"
                        placeholder="Введите новый пароль"
                        type="password"
                      />
                    </label>
                    <label for="confirm-password" class="label">
                      <span class="label-name">Подтвердите пароль</span>
                      <input
                        id="confirm-password"
                        class="input"
                        placeholder="Подтвердите пароль"
                        type="password"
                      />
                    </label>
                    <button type="submit" class="button_dark">
                      Сменить пароль
                    </button>
                  </form>
                </div>
              </div>

              <div class="settings__tabs">
                <div class="settings__tab">
                  <h3 class="settings__title">Настройка уведомлений</h3>
                  <button class="tab__disclosure">
                    <span></span><span></span>
                  </button>
                </div>
                <div class="settings__content tab__content">
                  <div class="settings__notification">
                    <div class="wrapper">
                      <div class="content">
                        <h4>Тип уведомления</h4>
                        <p>
                          Его краткое описание, которое может занимать несколько
                          строк Его краткое описание, которое может занимать
                          несколько строк
                        </p>
                      </div>
                      <div class="checkbox">
                        <span class="blur_active">
                          <input class="checkbox" type="checkbox" checked />
                          <label for="notifications_email">Email</label>
                        </span>
                        <label> Смс </label>
                        <input class="checkbox" type="checkbox" />
                      </div>
                    </div>
                  </div>
                  <div class="settings__notification">
                    <div class="wrapper">
                      <div class="content">
                        <h4>Тип уведомления</h4>
                        <p>
                          Его краткое описание, которое может занимать несколько
                          строк Его краткое описание, которое может занимать
                          несколько строк
                        </p>
                      </div>
                      <div class="checkbox">
                        <input
                          class="checkbox"
                          type="checkbox"
                          id="1"
                          checked
                        />
                        <label for="1">Email</label>
                        <input
                          class="checkbox"
                          type="checkbox"
                          id="notifications_message"
                        />
                        <label for="2">Смс</label>
                        <input
                          class="checkbox"
                          type="checkbox"
                          id="3"
                          checked
                        />
                        <label for="3">Пк</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="settings__tabs">
                <div class="settings__tab">
                  <h3 class="settings__title">Удалить учетную запись</h3>
                  <button class="tab__disclosure">
                    <span></span><span></span>
                  </button>
                </div>
                <div class="settings__content tab__content">
                  <p>
                    Вы можете удалить свою учетную запись. Восстановить доступ к
                    своей странице можно в любой момент.
                  </p>
                  <div class="delete-account">
                    <label for="confirm-code" class="label">
                      <input
                        type="text"
                        class="input is-invalid"
                        placeholder="Enter confirm code"
                        id="confirm-code"
                      />
                      <span class="info">
                        <span class="label-name">Confirm code</span>
                        <span class="error__text">
                          Неверно заполнено поле
                        </span>
                      </span>
                    </label>
                    <button class="button_dark">Удалить аккаунт</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!--Main End-->
      <!--Footer-->
      <footer id="footer" class="footer general_padding">
        <div class="container p30">
          <div class="footer__block">
            <figure class="footer__logo">
              <img
                class="logo-desktop"
                loading="lazy"
                src="../source/image/logo/logo-yellow.svg"
                alt="logo"
              />
              <img
                class="logo-mobile"
                loading="lazy"
                src="../source/image/logo/logo-yellow-mobile.svg"
                alt="logo"
              />
            </figure>
            <form action="" class="form-subscribe">
              <label for="footer_email">Быть в курсе последних новостей</label>
              <div class="form__box">
                <input
                  id="footer_email"
                  class="input"
                  type="text"
                  placeholder="Быть в курсе последних новостей"
                />
                <button type="button" class="button_yellow button-subscribe">
                  Подписаться
                </button>
              </div>
              <div class="subscription-issued">
                <p>Поздравляем, подписка на новости успешно оформленна=)</p>
                <div class="progress">
                  <div class="progress-value"></div>
                </div>
              </div>
            </form>
            <a href="#header" class="button_yellow up">
              <svg class="">
                <use
                  xlink:href="../source/image/icon/long-arrow.svg#long-arrow"
                ></use>
              </svg>
            </a>
          </div>

          <div class="footer__title">
            <h2 class="title">Каталог автомобилей</h2>
            <button class="button__plus car-catalog">
              <span></span>
              <span></span>
            </button>
          </div>
          <nav class="footer__nav nav_car-catalog">
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Каталог мото <span>555 2</span> </a>
            <a href="#">Каталог водного <span>124 222</span> </a>
            <a href="#">Каталог водного <span>1 222</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Каталог мото <span>555 2</span> </a>
            <a href="#">Каталог водного <span>124 222</span> </a>
            <a href="#">Каталог водного <span>1 222</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Каталог мото <span>555 2</span> </a>
            <a href="#">Каталог водного <span>124 222</span> </a>
            <a href="#">Каталог водного <span>1 222</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
            <a href="#">Каталог мото <span>555 2</span> </a>
            <a href="#">Каталог водного <span>124 222</span> </a>
            <a href="#">Каталог водного <span>1 222</span> </a>
            <a href="#">Смотреть все марки191 854 <span>123 000</span> </a>
            <a href="#">Каталог легковых <span>12 242</span> </a>
          </nav>

          <div class="footer__title">
            <h2 class="title">Другое</h2>
            <button class="button__plus other">
              <span></span>
              <span></span>
            </button>
          </div>
          <nav class="footer__nav nav_other">
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Отзывы</a>
            <a href="#">Автосалоны</a>
            <a href="#">Отзывы</a>
            <a href="#">Автосалоны</a>
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Отзывы</a>
            <a href="#">Калькуялтор растаможки</a>
            <a href="#">Автосалоны</a>
            <a href="#">Отзывы</a>
            <a href="#">Автосалоны</a>
            <a href="#">Калькуялтор растаможки</a>
          </nav>
        </div>
        <div class="footer__copyright">
          <div class="container p30">
            <div class="footer__box">
              <p>© Auff, Все права защищены</p>
              <div class="social-networks">
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/instagram.svg#instagram"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/facebook.svg#facebook"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/telegram.svg#telegram"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/viber.svg#viber"
                    ></use>
                  </svg>
                </a>
                <a href="#">
                  <svg class="social-networks__icon">
                    <use
                      xlink:href="../source/image/social-networks/whatsapp.svg#whatsapp"
                    ></use>
                  </svg>
                </a>
              </div>
              <nav>
                <a href="#">Пользовательское соглашение</a>
                <a href="#">Политика конфендициальности</a>
              </nav>
            </div>
          </div>
        </div>
      </footer>
      <!--Footer End-->
    </div>
  </body>
</html>
