.privacy-policy {
  & .wrapper {
    display: flex;
    margin-top: 40px;
  }
  & .title {
    margin-bottom: 5px;
  }
  & .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    & a {
      color: var(--yellow-dark);
    }
    & h2 {
      font-size: 24px;
      font-weight: 700;
      margin: 5px 0;
    }
  }
  & .nav {
    position: sticky;
    max-width: 280px;
    margin-right: 20px;
    counter-reset: list;
    top: 0;
    & li {
      position: relative;
      padding: 10px 10px 10px 30px;
      border-radius: var(--radius);
      transition: var(--transition);
      &:hover {
        background: var(--yellow);
      }
    }
    & a {
      color: var(--dark);
      text-decoration: none;
      counter-increment: list;
      position: relative;
      &:before {
        content: counter(list) ".";
        position: absolute;
        right: calc(100% + 5px);
      }
    }
  }
}
